@import url(../../../commons/fonts/font-awesome.min.css);
@import url(../../../commons/bootstrap/css/bootstrap.min.css);
* {
    outline: none !important;
    background: #fff;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

:host {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
    display: block;
}

.main-content {
    width: 100%;
}

.page-content {
    color: #565656;
    padding: 0 45px 30px;
    display: flex;
}

.main-container {
    order: 1;
    flex:2;
}

.toc {
    flex: 1;
    order: 2;
}

.page-title {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.page-title h1 {
    color: rgb(94, 127, 225);
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding-left: 60px;
    font-size: 1.802rem;
}

@media (min-width: 992px) {
    .toc + .container {
        max-width: 720px;
    }
}

@media (min-width: 768px) {
    .toc + .container {
        max-width: 550px;
    }
}


@media (min-width: 1201px) {
   .toc + .container{
        max-width: calc(100% - 290px);
    }
}

@media (max-width: 960px) {
    .page-content {
        margin-right: 0;
        padding: 0 15px;
    }
    nav {
        height: auto;
    }
    nav h3 {
        padding: 10px 15px;
        font-size: 1.266rem;
        line-height: 1.3;
    }
}

@media(max-width: 767px) {
    .page-content {
        flex-direction: column;
    }
    .container {
        flex: auto;
        order: 2;
    }
    .toc {
        flex: auto;
        order: 1;
    }
}
